@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.title-animate {
  display: flex;
  animation: text-animate 10s linear infinite;
}
@keyframes text-animate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc((100% * 3)));
  }
}
